<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.facebook.user.UserMapper">
    <insert id="join" useGeneratedKeys="true" keyProperty="iuser">
        INSERT INTO t_user
            (email,pw,nm,tel, authCd, provider)
        VALUES
            (#{email},#{pw},#{nm},#{tel}, #{authCd}, #{provider})
    </insert>

    <select id="selUser" resultType="UserEntity">
        SELECT * FROM t_user
        WHERE email = #{email}
        AND provider = #{provider}
        AND authCd IS NULL
    </select>

    <update id="auth">
        UPDATE t_user
        SET authCd = null
        WHERE email = #{email} AND authCd = #{authCd}
    </update>

    <update id="updUser">
        UPDATE t_user
        <set>
            <if test="mainProfile != null and mainProfile != ''">
                mainProfile = #{mainProfile}
            </if>
            <if test="pw != null and pw != ''">
                pw = #{pw}
            </if>
            <if test="nm != null and nm != ''">
                nm = #{nm}
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel}
            </if>
        </set>
        WHERE iuser = #{iuser}
    </update>

    <update id="updUserMainProfile">
        UPDATE t_user A
        INNER JOIN t_user_profile B
        ON A.iuser = B.iuser
        AND B.iprofile = ${iprofile}
        SET A.mainProfile = B.img
        WHERE A.iuser = #{iuser}
        <selectKey order="AFTER" resultType="String" keyColumn="mainProfile" keyProperty="img">
            SELECT mainProfile FROM t_user WHERE iuser=#{iuser}
        </selectKey>
    </update>

<!--    ==============follow[start]========================-->
    <insert id="insUserFollow">
        INSERT INTO t_user_follow
        (iuserMe, iuserYou)
        VALUES
        (${iuserMe},${iuserYou})
    </insert>

    <select id="selUserFollow" resultType="UserFollowEntity">
        SELECT iuserMe, iuserYou, regdt FROM t_user_follow
        WHERE iuserMe = ${iuserMe} AND iuserYou = ${iuserYou}
    </select>

<!--    주인장이 팔로우 한사람-->
    <select id="selUserFollowList" resultType="UserDomain">
        SELECT b.iuser, b.nm, b.mainProfile
             , CASE WHEN c.iuserMe is NULL  THEN 0 ELSE 1 END AS isMeFollowYou
         FROM t_user_follow a
         INNER JOIN t_user b
         ON a.iuserYou = b.iuser
         LEFT JOIN t_user_follow c
         ON c.iuserMe = ${iuserMe} -- 로그인한사람
         AND c.iuserYou = a.iuserYou
         WHERE a.iuserMe= ${iuserYou} -- 프로필 주인
    </select>

<!--    주인장을 팔로우 한사람-->
    <select id="selUserFollowerList" resultType="UserDomain">
        SELECT b.iuser, b.nm, b.mainProfile
             , CASE WHEN c.iuserMe is NULL  THEN 0 ELSE 1 END AS isMeFollowYou
        FROM t_user_follow a
         INNER JOIN t_user b
           ON a.iuserMe = b.iuser
         LEFT JOIN t_user_follow c
           ON c.iuserMe = ${iuserMe} -- 로그인한사람
           AND c.iuserYou = a.iuserMe
        WHERE a.iuserYou= ${iuserYou} -- 프로필 주인
    </select>

    <delete id="delUserFollow">
        DELETE from t_user_follow
        WHERE iuserMe = ${iuserMe} AND iuserYou = ${iuserYou}
<!--        <selectKey order="AFTER" resultType="Integer" keyColumn="cnt" keyProperty="iuserYou">-->
<!--            SELECT count(iuserMe) as cnt FROM t_user_follow-->
<!--            WHERE iuserYou = ${iuserMe}-->
<!--            AND iuserMe = ${iuserYou}-->
<!--        </selectKey>-->
    </delete>
</mapper>

